name: Docker MERN Stack CI/CD

on:
  push:
    branches: [ develop, main ]
  pull_request:
    branches: [ develop, main ]

env:
  DOCKER_REPO: deependrabhatta/githubactions_mern
  IMAGE_TAG: ${{ github.sha }}
  BUILD_DATE: ${{ github.run_id }}-${{ github.run_number }}
  FRONTEND_API_BASE_URL: /api/

jobs:
  # -------------------
  # 1. Build Backend
  # -------------------
  build_backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }} 

      - name: Build and Push Backend Image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          no-cache: true
          tags: |
            ${{ env.DOCKER_REPO }}:backend-${{ env.IMAGE_TAG }}-${{ env.BUILD_DATE }}
            ${{ env.DOCKER_REPO }}:backend-latest

  # -------------------
  # 2. Build Frontend
  # -------------------
  build_frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          
      - name: Build and Push Frontend Image
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: true
          no-cache: true
          tags: |
            ${{ env.DOCKER_REPO }}:frontend-${{ env.IMAGE_TAG }}-${{ env.BUILD_DATE }}
            ${{ env.DOCKER_REPO }}:frontend-latest
          build-args: |
            REACT_APP_API_BASE_URL=${{ env.FRONTEND_API_BASE_URL }}

  # -------------------
  # 3. Deploy to Testing (Docker Compose)
  # -------------------
  deploy_testing:
    needs: [build_backend, build_frontend]
    runs-on: deployment_vm
    environment: staging
    env:
      DATABASE: ${{ secrets.DATABASE }}
      JWT_SECRET: ${{ secrets.JWT_SECRET }}
      SECRET: ${{ secrets.SECRET }}
      KEY: ${{ secrets.KEY }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Pull and Deploy with Docker Compose
        run: |
          DOCKER_REPO=${{ env.DOCKER_REPO }} IMAGE_TAG=${{ env.IMAGE_TAG }} \
          docker compose -f docker-compose.yaml pull
          DOCKER_REPO=${{ env.DOCKER_REPO }} IMAGE_TAG=${{ env.IMAGE_TAG }} \
          docker compose -f docker-compose.yaml up -d --force-recreate

# -------------------
# 4. Deploy to Minikube (Helm)
# -------------------
  deploy_minikube:
    needs: [build_backend, build_frontend]
    runs-on: minikube
    environment: production
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4


      - name: Inject Helm Values
        run: |
          helm upgrade --install mern charts/mern-admin -n mern-test \
            --create-namespace \
            # --set backend.image.tag=backend-${{ env.IMAGE_TAG }} \
            # --set frontend.image.tag=frontend-${{ env.IMAGE_TAG }} \
            --set backend.secrets.databaseUri="${{ secrets.DATABASE }}" \
            --set backend.secrets.jwtSecret="${{ secrets.JWT_SECRET }}" \
            --set backend.secrets.secret="${{ secrets.SECRET }}" \
            --set backend.secrets.key="${{ secrets.KEY }}"

